<%= form_for(@comment_line_item) do |f| %>
  <% if @comment_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment_line_item.errors.count, "error") %> prohibited this comment_line_item from being saved:</h2>

      <ul>
      <% @comment_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment_content %><br />
    <%= f.text_area :comment_content %>
  </div>
  <div class="actions">
    <%= f.submit(class: 'btn btn-inverse') %>
  </div>
<% end %>
