
<div class="depot_form">
	<% if flash[:alert] %>
		<div id = "notice" class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<p><strong>Warning! </strong> <%= flash[:alert] %></p>
		</div>
	<% end %>
	
	<%= form_tag do %>
	  <fieldset>
	  	<legend>Please Log In</legend>
	  	
	  	<div>
	  		<%= label_tag :name, 'Name:' %>
	  		<%= text_field_tag :name, params[:name] %>
	  	</div>
	  	
	  	<div>
	  		<%= label_tag :password, 'Password:' %>
	  		<%= password_field_tag :password, params[:password] %>
	  	</div>
	  	
	  	<div>
	  		<%= submit_tag "Login", class: 'btn btn-inverse' %>
	  	</div>
	  </fieldset>
    <% end %>
</div>
    
