<h1>Welcome</h1>

<br> Dear <%= User.find_by_id(session[:user_id]).identity %>: </br>
<br> <%= User.find_by_id(session[:user_id]).name %> </br>

<br> It's <%= Time.now %> </br>

<% if User.find_by_id(session[:user_id]).identity == "customer" %>
	<br>We have <%= pluralize(@total_products_C, "product") %> for you to choose. </br>
<% else %>
	<br>You have publish <%= pluralize(@total_products_S, "product") %>.</br>
	<br>And you still have XXX orders need to be charge.</br>  
<% end %>