<h1>Listing orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <% if User.find_by_id(session[:user_id]).identity == "seller" %>
            <th>Book title</th>
            <th>quantity</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        <!-- order     Order.find_by_id(line_item.order_id)-->

        <% @line_items.each do |line_item| %>
          <% if Product.find_by_id(line_item.product_id).publish == User.find_by_id(session[:user_id]).name %>
	            <tr>
	              <td><%= Order.find_by_id(line_item.order_id).name %></td>
	              <td><%= Order.find_by_id(line_item.order_id).address %></td>
	              <td><%= Order.find_by_id(line_item.order_id).email %></td>
	              <td><%= Order.find_by_id(line_item.order_id).pay_type %></td>
	              <td><%= Product.find_by_id(line_item.product_id).title %></td>
	              <td><%= line_item.quantity %></td>
<<<<<<< HEAD
	              <td><%= link_to 'Show', Order.find_by_id(line_item.order_id) %></td>
	              <td><%= link_to 'Edit', edit_order_path(Order.find_by_id(line_item.order_id)) %></td>
	              <td><%= link_to 'Destroy', Order.find_by_id(line_item.order_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	              <td><%= link_to 'Send', {:controller => "sending", :action => "index", id: line_item} %></td>
=======
	              <td><%= link_to 'Processing', {:controller => "sending", :action => "index", id: line_item} %></td>
>>>>>>> origin/dev3
	            </tr>
          <% end %>
        <% end %>

    <% elsif User.find_by_id(session[:user_id]).identity == "administrator" %>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.name %></td>
            <td><%= order.address %></td>
            <td><%= order.email %></td>
            <td><%= order.pay_type %></td>
            <td><%= link_to 'Show', order %></td>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
            <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
<<<<<<< HEAD
=======

    <% elsif User.find_by_id(session[:user_id]).identity == "customer" %>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        <% @orders.each do |order| %>
          <% if order.user_id == session[:user_id] %>
            <tr>
              <td><%= order.name %></td>
              <td><%= order.address %></td>
              <td><%= order.email %></td>
              <td><%= order.pay_type %></td>
              <td><%= link_to 'Show', order %></td>
              <td><%= link_to 'Edit', edit_order_path(order) %></td>
              <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
>>>>>>> origin/dev3
    <% end %>

</table>

<br />

<% if session[:user_id] != nil and User.find_by_id(session[:user_id]).identity != 'seller' and User.find_by_id(session[:user_id]).identity != 'customer' %>
  <%= link_to 'New Order', new_order_path %>
<% end %>

<p><%= will_paginate @line_items %></p>