<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<p>
	<br><b>Line Items:</b></br>
	<table>
		<tr>
			<th>quantity</th>
			<th>title</th>
			<th>total price</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	<% LineItem.all.each do |line_item| %>
	 	<% if Order.find(line_item.order_id).name == @order.name %>
	 	  <tr>
			<td><%= line_item.quantity %></td>  
			<td><%= line_item.product.title %></td>  
			<td><%= number_to_currency(line_item.total_price) %></td> 
			<% if User.find(session[:user_id]).identity == "administrator" %>
				<td><%= link_to 'Show', line_item %></td>
				<td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
			<% end %>
    		<td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
    	  </tr>
	    <% end %>
		
	<% end %>
	</table>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
