<div class = "cart_title"><%= t('.title') %></div>

<table class="table" >
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>
    
<% if cart.user_id == session[:user_id] %>
	<div class="btn-group" data-toggle="buttons-checkbox">
		<%= button_to t('.checkout'), new_order_path, method: :get, class: 'btn btn-primary'%>
		<!--<%= button_to t('.checkout'), {:controller => 'orders', :action => 'new', :id => cart.id}, method: :get %>-->
		
		<% if cart.line_items.length != 0 %>
			<%= button_to t('.modify'), edit_cart_path(cart), method: :get, class: 'btn btn-primary' %>
		<% end %>
		
		<%= button_to t('.empty'), empty_cart_path(cart), method: :get,class: 'btn btn-primary',
			confirm: 'Are you sure?' %>
	</div>		
<% end %>	