<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.hidden_field(:user_id, :value => session[:user_id])%>
	</div>
	
	<div class="field">
		<%= f.hidden_field(:user_name, :value => session[:user_name])%>
	</div>

  <div class="actions">
    <%= f.submit( class: 'btn btn-info') %>
  </div>
<% end %>
