<h1>Listing carts</h1>

<% if notice %>
	<div id = "notice" class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p><strong>Warning! </strong> <%= notice %></p>
	</div>
<% end %>

<% if @carts.length == 0 %>
	<h3>No carts here!</h3>
	
<% else %>

	<table class="table">
	  <tr>
	  	<th>Owner</th>
	  	<th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	
	<% @carts.each do |cart| %>
	  <tr>
	  	<td><%= cart.user_name %></td>
	  	<td></td>
	    <td><%= link_to 'Show', cart %></td>
	    <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
	    <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    <td><%= link_to 'Merge_To_Current', merge_cart_path(cart) %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New Cart', new_cart_path %>
	
<% end %>
