<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

	<p><%= image_tag(@product.image_url, class: 'img') %></p>

    <p>
    <b>Title:</b>
      <%= @product.title %>
    </p>
  
    <p>
    <b>Price:</b>
      <%= number_to_currency(@product.price) %>
    </p>
    
    <p>
    <b>Comments:</b>
      <%= @product.comment_number %>
    </p>
    
    <p>
    <b>Repertory:</b>
    <%= @product.repertory %>
    </p>   
   
    <% if session[:user_id] and (User.find_by_id(session[:user_id]).name == @product.publish or User.find_by_id(session[:user_id]).identity == 'administrator') %>

      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>

    <% end %>
    
    <div>
    <%= button_to "Add to Cart", line_items_path(:product_id => @product), remote: true%>
    </div>	
    <br><br />
    <br><br />
    <br><br />
    <br><br />
<div id="splite_line" style="border-top:1px dashed #cccccc; height: 1px; overflow:hidden"></div>
<div>
	<b>Description:</b>
	  <%= sanitize @product.description %>
</div>

<div style="border-top:1px dashed #cccccc; height: 1px; overflow:hidden"></div>



<div id ="comment_list_detail">
	<h3>Customer Reviews</h3>
	<% @comments.each do |comment|%>
	    <div id="each_comment">
	    	<div id="each_comment_content">
	    		<%= image_tag("customer.jpg", class: 'img') %>
	    		<%= comment.comment_content %>
	    		<%if session[:user_id] and User.find_by_id(session[:user_id]).identity == 'administrator'%>
	    		    <div id="delete_comment">
	    		    	<%= link_to 'Delete', comment, confirm: "Are you sure?", method: :delete, 
	    		    	 style: "color:red" %>
	    		    </div>
	    		<% end %>
            </div>
            
            <div id="each_comment_time">
            	posted at: <%= comment.created_at %>
            </div>
        </div>
   <%end%>
</div>
<div id="page_link"> <%= will_paginate @comments %> </div>
<br />
<div>
		<%= render 'commentform' %>
</div>

