<marquee><h2>Welcome to our bookstore</h2></marquee>


<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html')%></h1>

<%= form_tag( :action => "index", :catagory => @catag, :search => @search, :about => @about) do |f| %>
	<%= label_tag("Order by") %>
	
	<%= radio_button_tag(:order, "title", true)%>
	<%= label_tag(:order_title, "Title")%>
	
	<%= radio_button_tag(:order, "publish")%>
	<%= label_tag(:order_publish, "Publisher")%>
	
	<%= radio_button_tag(:order, "price")%>
	<%= label_tag(:order_price, "Price")%>

	<%= radio_button_tag(:order, "popular")%>
	<%= label_tag(:order_popular, "Popular")%>
		
	<%= submit_tag 'submit'%>
	
<% end %>

<% @products.each do |product| %>

  <div class="entry">
    <%= link_to(image_tag(product.image_url),product_path(id: product.id), method: :get )%>

    <h3><a href="<%= product_path(id: product.id) %>">
    	<span onmousemove="this.style.color='red';" onmouseout="this.style.color='blue'">
    		<%= product.title %>
    	</span>
    	</a></h3>
    <p><%= strip_tags(product.description) %></p>
    <div class="price_line">

      	<span class="price"><%= number_to_currency(product.price) %> 
        &nbsp;&nbsp;<%= t('.repertory') %>:<%= product.temprepertory %>  
        </span>

		<% if session[:user_id] != nil %>
		
		    <% if User.find_by_id(session[:user_id]).identity == "customer" %>
		    
		      <% if product.temprepertory > 0 %>  
		  		  <%= button_to t('.add_html'), line_items_path(:product_id => product, :cart_id => @cart.id),
		  			   remote: true %>
		      <% else %>
		        <font color="red", size="3">Sorry for the product's stockout!</font>
		      <% end %>
		      
		    <% elsif User.find_by_id(session[:user_id]).identity == "administrator" or 
		    	session[:user_name] == product.publish %>
		    	
		        <%= button_to t('.edit'), edit_product_path(id: product), method: :get %>
		        <%= button_to t('.delete'), product_path(id: product), method: :delete %>
		    <% end %>
		    
	    <% end %>	

    </div>
  </div>
<% end %>

<% if session[:user_id] != nil and User.find_by_id(session[:user_id]).identity != "customer" %>
  <div class="button_publish">
  <%= button_to t('.publish'), new_product_path, method: :get %>
  </div>
<% end %>
