<h1><%= user.name %> is a customer </h1>

<h2>Comments built by <%= user.name %></h2>
<br />

<% count = 0 %>
<% if comments.length != 0%>
	<% comments.each do |comment| %>
		<% product = Product.find(comment.product_id) %>
		
		<h3>Comment <%= (count = count + 1) %></h3>
		<table class="table">
			<tr>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td>Title</td>
				<td><a href="<%= product_path(id: product.id) %>"><%= product.title %></a></td>
				<!--<td><%= product.title %></td>-->
			</tr>
			
			<tr>
				<td>Publisher</td>
				<td><%= product.publish %></td>
			</tr>

			<tr>
				<td>Content</td>
				<td><%= comment.comment_content %></td>
			</tr>

			<tr>
				<td>Create_time</td>
				<td><%= comment.created_at %></td>
			</tr>
			
	    </table>
	    <br /><br />
	    
	<% end %>
	
<% else %>
	<h3>No comments created by the customer you search for</h3>
<% end %>

<%= link_to 'Back', store_path %>