<h1><%= user.name %> is a seller </h1>

<h2>Most popular products of <%= user.name %></h2>
<br />

<% if products.length != 0%>
	<% count = 0 %>
	<% products.each do |product| %>
		
		<h2>No. <%= (count = count + 1) %></h2>
		
		<table>
			<!--<%= image_tag(product["image_url"], class: 'list_image') %>-->
    		<%= link_to(image_tag(product["image_url"]),product_path(id: product["product_id"]), method: :get )%>			
			<tr>
				<th></th>
				<th></th>
			</tr>
			
			<tr>
				<td>Total Comments: </td>
				<td><%= product["comments_count"]%></td>
			</tr>	
			
			<tr>
				<td>Title: </td>
				<td><a href="<%= product_path(id: product["product_id"]) %>"><%= product["title"]%></a></td>
				<!--<td><%= product["title"]%></td>-->
			</tr>
			
			<tr>
				<td>Description: </td>
				<td><%= truncate(strip_tags(product["description"]), length: 80) %></td>
			</tr>
			
			<tr>
				<td>Price: </td>
				<td><%= product["price"]%></td>
			</tr>
		</table>
		  	
	    <br /><br />
	<% end %>
	
<% else %>
	<h3>No products created by the seller you search for</h3>
<% end %>

<%= link_to 'Back', store_path %>
